*{
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}


.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  transition: background-color 2s ease, color 2s ease;
}

.Contenedor-general{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contenedor-logo{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  position: relative;
}

.Contenedor-logo{
  height: 55px;
  width: 550px;
}

.Contenedor-logo-2{
  height: 55px;
  width: 60px;
}

.LogoMF{
  height: 55px;
  width: 60px;
  position: absolute;
  transition: opacity 1s ease;
}

#Contenedor-frase{
  border-radius: 10px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #FFF;
  transition: background-color 2s ease;
}

.Texto-cita{
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

.Texto-cita i{
  font-size: 1em;
  margin-right: 0.4em;
}

.Autor-cita{
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

#Contenedor-frase .Botones{
  width: 450px;
  margin: auto;
  display: block;
}

#Contenedor-frase .Botones .Boton{
  height: 38px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 0.85em;
  padding: 0 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
  transition: background-color 2s ease, color 2s ease;
}

#Contenedor-frase .Botones .Boton#tweet-cita{
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 40px;
  width: 40px;
}

#Contenedor-frase .Botones .Boton#nuevaFrase {
  float: right;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  transition: background-color 2s ease, color 2s ease;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  transition: color 2s ease;
}

/*----------BREAKPOINTS----------*/


/* Pantallas Tablets */
@media only screen and (min-width: 486px) and (max-width: 610px){


  .Contenedor-logo{
    height: 55px;
    width: 470px;
  }
  
  .Contenedor-logo-2{
    height: 55px;
    width: 60px;
  }

  #Contenedor-frase{
    padding: 20px 10px;
  }


  .Texto-cita{
    font-size: 1.3em;
  }
  
  .Texto-cita i{
    font-size: 1em;
  }
  
  .Autor-cita{
    width: 436px;
    font-size: 0.8em;
  }
  
  #Contenedor-frase .Botones{
    width: 436px;
  }
}

/* Pantallas Tablets pequeñas */
@media only screen and (min-width: 413px) and (max-width: 486px){

  #Contenedor-general {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #Contenedor-frase {
    width: 385px;
    padding: 20px 0;
    text-align: center;
    display: grid;
    justify-items: center;
  }

  #Contenedor-frase .Botones{
    display: flex;
    width: 335px;
    justify-content: space-between;
  }

  .Contenedor-logo{
    height: 40px;
    width: 385px;
  }
  
  .Contenedor-logo-2{
    height: 40px;
    width: 45px;
  }

  .LogoMF{
    height: 40px;
    width: 45px;
  }

  .Texto-cita,
  .Autor-cita,
  .footer{
    width: 90%;
  }

  .Texto-cita{
    font-size: 1.3em;
  }
  
  .Texto-cita i{
    font-size: 1em;
  }
  
  .Autor-cita{
    font-size: 1em;
  }
  
  .footer{
    margin: 20px 0;
  }

}

/* Pantallas Telefonos */
@media only screen and (max-width: 413px){

  .App {
    align-items: stretch;
}

  #Contenedor-general {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  #Contenedor-frase {
    width: 95%;
    padding: 20px 0;
    text-align: center;
    display: grid;
    justify-items: center;
  }

  #Contenedor-frase .Botones{
    display: flex;
    width: 335px;
    justify-content: space-between;
  }

  .Contenedor-logo{
    height: 40px;
    width: 384px;
  }
  
  .Contenedor-logo-2{
    height: 40px;
    width: 45px;
  }

  .LogoMF{
    height: 40px;
    width: 45px;
  }

  .Texto-cita,
  .Autor-cita,
  .footer{
    width: 90%;
  }

  .Texto-cita{
    font-size: 1.3em;
  }
  
  .Texto-cita i{
    font-size: 1em;
  }
  
  .Autor-cita{
    font-size: 1em;
  }
  
  .footer{
    margin: 20px 0;
  }



}